ion-card{
    margin-top: -13px;
    margin-left: -2px;
    margin-right: -2px;
    --background: #CEDDE5;
    color: rgb(6, 6, 6);
    height: 150px;
    border-radius: 20px;  
}

ion-card-title{
    margin-top: 20px;
    font-size: 35px;
    margin-left: 20px;

}

ion-card-title{
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.status{
    font-size: 12px;
    color: gray;
    margin-left: 20px;
}

ion-item{
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.values1{
    --background: #CEDDE5;
    --border-radius: 10px;
    font-weight: 500;
    display: flex ;
    align-items: center;
    height: 50px;
    width: 100%;
}

.content{
    margin-top: 20px;
    --background-color: black;
    margin-left: 15px;
    
}

ion-list{
    background-color: #D9E6EE;;
}