
<ion-content [fullscreen]="true">

  <ion-icon name="arrow-back-outline" class="back" (click)="back()"></ion-icon>

  <h1>Request Help</h1>
  
  <ion-img class="pic"
  src="/assets/Help.svg"
  alt="Help sha"
  ></ion-img>

<!-- Valuess -->
  <div class="space">
   <h2 class="title">How can we Help you?</h2>
   <p class="description">It looks like you are experiencing prblems
    with our mobile application. We are her to help so please get in touch with us
   </p>
  </div>
  

  <ion-card text-center padding>
    <ion-icon  name="mail" class="chatus"></ion-icon>
        <p class="label">betapeak@gmail.com</p>
  </ion-card>

  <ion-card text-center padding>
    <ion-icon name="logo-facebook" class="chatus"></ion-icon>
        <p class="label">www.facebook.com/betapeak</p>
  </ion-card>

  <ion-card text-center padding>
    <ion-icon name="call" class="chatus"></ion-icon>
        <p class="label">09518441342</p>
  </ion-card>



  
</ion-content>
