<ion-content [fullscreen]="true">

  <ion-icon name="arrow-back-outline" class="back" (click)="back()"></ion-icon>

  <h1>About Us</h1>
  <ion-img class="pic" src="/assets/logo.png" alt="Help sha"></ion-img>


  <p>Welcome to MushProd, an innovative venture that blends technology and agriculture to revolutionize oyster mushroom
    cultivation. Established in 2020, MushProd is driven by a passion for sustainable farming practices and a commitment
    to harnessing the power of the Internet of Things (IoT) for agricultural efficiency.</p>

</ion-content>