*{
    margin: 10px;
    
}


div{
  margin-top: 40px;  
}

.title{
    font-size: 18px;
    text-align: center;
    font-weight: 800;
}

.message{
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
}

.temp{
    margin-top: 20px;
    font-weight: 600;
}
.humid{
    font-weight: 600;
}