ion-tab-bar{
  margin: 30px 20px;
  border-radius: 15px;
  --background: #D9E6EE;
  border: 1px solid;
  border-color: #b5b5b5;
  position: flex;
  height: 60px;
 
}
ion-content{
  color: white;
}
 
ion-tabs{
  color: white;
}
